<%= form_with(model: user_portfolio_history, local: true) do |form| %>
  <% if user_portfolio_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_portfolio_history.errors.count, "error") %> prohibited this user_portfolio_history from being saved:</h2>

      <ul>
        <% user_portfolio_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :debt_value %>
    <%= form.number_field :debt_value %>
  </div>

  <div class="field">
    <%= form.label :equity_value %>
    <%= form.number_field :equity_value %>
  </div>

  <div class="field">
    <%= form.label :gold_value %>
    <%= form.number_field :gold_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
